

  <h1>Редактирование записи о турбазе</h1>



    <%= render partial: 'form', :locals => {:camp => @camp, :cities => @cities } %>

    <%= link_to 'Показать', camp: @camp  %> |
    <%= link_to 'Назад', camps_path %>
