  <h1>Редактирование записи о городе</h1>


    <%= render partial: 'form', locals: {city: @city, regions: @regions}%>



    <%= link_to 'Показать', @city %> |
    <%= link_to 'Назад', cities_path %>

