<!DOCTYPE html>
<html lang="en">
<body>
    <div class="head-menu-header">
        <div class="container">
            <div class="row">
                <div class="col" align="center">
                    <h1> Турбазу в каждый дом</h1>
                </div>
            </div>
            <div class="row" >
                <div class="col-8"> <!-- TODO: Расстянуть группу кнопок -->
                    <div class="btn-group">
                        <a href= <%=camps_path%> role="button" class="btn btn-primary">Список турбаз</a>
                        <!-- Сделать переход -->
                        <a href=<%=countries_path%> role="button" class="btn btn-primary">Страны</a>
                        <a href=<%=regions_path%> role="button" class="btn btn-primary">Регионы</a>
                        <a href=<%=cities_path%> role="button" class="btn btn-primary">Города</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>