

    <div class="location-select">

      <table class="table-striped">
        <tr class="row">
          <td class="col-sm">Страна</td>
          <td class="col-sm">Регион</td>
          <td class="col-sm">Город</td>
        </tr>
        <tr class="row">
          <td class="col-sm">
            <select class="location-select-country">
            </select>
            ->
          </td>
          <td class="col-sm">
            <select class="location-select-region">
            </select>
            ->
          </td>
          <td class="col-sm">
            <select class="location-select-city">
            </select>
          </td>
        </tr>
      </table>
    </div>
