

    <div class="location-select">
      <div class="row">
        <div class="col">
          <div class="dropdown">
            <select class="location-select-country" id = "location-select-country">
              <option>Ёпта</option>
              <option>Мега</option>
              <option>Имба</option>
              <option>Дебаг</option>

            </select>
          </div>
        </div>
      </div>
    </div>
